- let base = 'unsplash.com/photo';
- let data = [
- 	{
- 		code: '1532298311720-0f0e081ef7e0', 
-			attr: 'Jelle van Leest', 
- 		link: 'white-concrete-house-near-mountain-at-daytime-c--vvU4E16w', 
-			text: 'White old style wooden buildings in a town at the foot of the mountains in Norway. The frontmost building is a hotel whose entrange gates have yellow roofs. There are also flowers at the windows and on the fence in between the two gates. In the back, a white church building can also be seen.'
- 	}, 
- 	{
- 		code: '1563480022557-550cfc9e1d9c', 
-			attr: 'Nomadic Julien', 
- 		link: 'gray-concrete-building-AuvVbaWhgXk', 
-			text: 'Cobblestone street going up towards the fortress hill in Râșnov, Romania, framed by old style buildings and trees. On the left, the Saxon church can be seen. In the back, at the top of the hill, there is the refuge fortress and the Hollywood-style Râșnov sign.'
- 	}, 
- 	{
- 		code: '1572225303717-a96db5e8d8b0', 
-			attr: 'Linus Mimietz', 
- 		link: 'people-at-the-street-between-commercial-buildings-QYI__0vehUs', 
-			text: 'Stores and restaurants along a street in the historic city in Stockholm, Sweden. One of them has the Swedish flag outside.'
- 	}, 
- 	{
- 		code: '1616842843671-d495fcca6a85', 
-			attr: 'Ruben Hanssen', 
- 		link: 'people-walking-on-snow-covered-road-during-daytime-6hL26b0vCH8', 
-			text: 'Steet covered with snow in Leiden, Netherlands. There are old buildings on the left and bare trees on the right.'
- 	}, 
- 	{
- 		code: '1594088486803-cba1abbcfe84', 
-			attr: 'Bella Foster', 
- 		link: 'people-walking-on-street-during-daytime-qa2udWXd9OY', 
-			text: 'Street with shops left and right in Perth, Australia'
- 	}, 
- 	{
- 		code: '1571912033951-8d4009cd20c9', 
-			attr: 'Hendrik Kespohl', 
- 		link: 'brown-concrete-building-during-daytime-P6uga8AP5io', 
-			text: 'Old town in Rothenburg ob der Tauber. Shows narrow street framed by old style buildings with geraniums at the windows. The street goes to one of the old town entrance gates.'
- 	}, 
- 	{
- 		code: '1568882393281-0d690ca62d64', 
-			attr: 'Mihai Moisa', 
- 		link: 'green-leafed-trees-dOpg4PBwqAE', 
-			text: 'A building hosting a jewelry shop with a facade dressed in clibing roses in Copenhagen Denmark. To the right, there is a tree with big leaves. In the back, more old stle buildings can be seen. In front, there is a water fountain in the shape of a woman holding a little girl by the hand.'
- 	}, 
- 	{
- 		code: '1549643276-fdf2fab574f5', 
-			attr: 'Jonas Hoss', 
- 		link: 'empty-seats-and-tables-in-between-buildings-during-daytime-p0R8R5IS6aA', 
-			text: 'Empty seats and tables on a narrow street in between buildings with lots of pretty flowers at the balcony during daytime in Málaga, Spain.'
- 	}, 
- 	{
- 		code: '1573167443175-867d91708f97', 
-			attr: 'Leyre', 
- 		link: 'people-walking-beside-berlitz-building-during-daytime-x5icsOgc7Lw', 
-			text: 'Busy street with people walking beside Berlitz building in Vienna, Austria, during daytime.'
- 	}, 
- 	{
- 		code: '1608197463396-7152ce7fcb70', 
-			attr: 'adrianna geo', 
- 		link: 'a-group-of-people-walking-down-a-street-next-to-tall-buildings-8X0Hexuz9jc', 
-			text: 'Astronomical Tower in the old town in Prague, Czechia, framed between buildings of Baroque style during golden hour. Tourists walking and holding hands.'
- 	}, 
- 	{
- 		code: '1560242374-ca6dd3434522', 
-			attr: 'Reiseuhu', 
- 		link: 'alley-photography-of-road-during-daytime-JINIW3yzobc', 
-			text: 'Houses with lots of pretty flowers framing a narrow street in Catargena, Colombia. The Colombian flag can be seen in the back among the flowers.'
- 	}, 
- 	{
- 		code: '1617577862629-d80cc2297a46', 
-			attr: 'Andrei Koscina', 
- 		link: 'green-plants-on-brown-concrete-stairs-Qn_ot1LHFng', 
-			text: 'Stairs and railing going up along a narrow alley in Marseille, France. There are plants growing on both sides.'
- 	}, 
- 	{
- 		code: '1612361808300-da9583e1b34e', 
-			attr: 'Federico Di Dio', 
- 		link: 'people-walking-on-street-between-buildings-during-daytime-2jZs2_Dsghg', 
-			text: 'Narrow street with old style houses in Novara di Sicilia, Italy'
- 	}, 
- 	{
- 		code: '1591108216943-5e094eb7ea98', 
-			attr: 'Andreas Pajuvirta', 
- 		link: 'people-walking-on-street-during-daytime-2BliuRnjcQA', 
-			text: 'Street in vibrant colours in Chania, Greece.'
- 	}, 
- 	{
- 		code: '1583495833696-852f6573e8ae', 
-			attr: 'Claudio Schwarz', 
- 		link: 'brown-and-white-concrete-building-WsQI91qMWyg', 
-			text: 'Cobblestone street leading to the Clock Tower in Bern, Switzerland.'
- 	}, 
- 	{
- 		code: '1609278406593-363130c99995', 
-			attr: 'Beverly Castro', 
- 		link: 'red-flowers-on-gray-concrete-pathway-2SqtQMauIg0', 
-			text: 'Narrow street framed by buildings and climbing red flowers in Montreal, Canada.'
- 	}, 
- 	{
- 		code: '1573157268772-519f309dc212', 
-			attr: 'Victor Malyushev', 
- 		link: 'people-crossing-on-street-between-concrete-structures-XEAoXLVsCRE', 
-			text: 'Busy street with lots of shops and terraces in Warsaw, Poland. There are Polish flags all along.'
- 	}, 
- 	{
- 		code: '1513543806865-85e29a7c0352', 
-			attr: 'Reuben Farrugia', 
- 		link: 'people-walking-on-stairs-between-buildings-in-distant-of-mountain-lgo364o6HAc', 
-			text: 'Stairs going down to the sea, framed by old style Mediterranean buildings in Valetta, Malta.'
- 	}, 
- 	{
- 		code: '1567994484512-55f8fe3c1a05', 
-			attr: 'Thierry Lemaitre', 
- 		link: 'a-cobblestone-street-lined-with-brick-buildings-Yra5bMGqn20', 
-			text: 'A cobblestone street lined with brick buildings in Bruges, Belgium. On the left side, there is a restaurant with red geraniums at the windows.'
- 	}, 
- 	{
- 		code: '1598259218735-3d05c504e64f', 
-			attr: 'Miha Rekar', 
- 		link: 'green-plant-on-black-plastic-pot-uZdZwVxfuRs', 
-			text: 'Stairs going up, framed by old style Mediterranean buildings in Dubrovnik, Croatia. On both sides of the stairs there are green plants. In between the buildings, on the sides, clothes can be seen out to dry.'
- 	}, 
- 	{
- 		code: '1652023264571-9c606573a1df', 
-			attr: 'Mahsha Ziapour', 
- 		link: 'a-street-with-buildings-on-both-sides-NK9rU0wX-Lc', 
-			text: 'A narrow cobblestone street with buildings on both sides in the Old Town of Talinn, Estonia. In the middle of the street there is a concrete pot with a little evergreen bush. On the ground floor of the buildings on both sides, there are shops and eateries. One such sign reads Cinnamon Restoran.'
- 	}, 
- 	{
- 		code: '1553577336-a19f84791e0f', 
-			attr: 'Joseph Sun', 
- 		link: 'people-walking-in-front-of-cathedral-FteB5JZ4POE', 
-			text: 'Cobblestone street, framed by old style building and trees, leading up to a cathedral in Budapest, Hungary.'
- 	}, 
- 	{
- 		code: '1620492090058-4ce64d1470d6', 
-			attr: 'Chloe Frost-Smith', 
- 		link: 'brown-and-white-concrete-building-oORewSaLPw8', 
-			text: 'Cobblestone street framed by old style buildings dressed in bushes, climbing plants and trees in Edinburgh, United Kingdom.'
- 	}, 
- 	{
- 		code: '1630316710923-60d1c6935503', 
-			attr: 'Héloïse Delbos', 
- 		link: 'people-walking-on-street-near-white-concrete-building-during-daytime-4kzAJ-v6GXA', 
-			text: 'Street framed by old style houses, trees and flowers in big pots, leading up to a pyramid-shaped white church in Reykjavik, Iceland. The street is painted in rainbow stripes.'
- 	}
- ];
- let n = data.length;

header
	h1 Pure CSS simple gallery with on scroll effects - reveal, parallax. Responsive, accssible.
main
	- data.forEach(c => {
		figure
			img(src=`https://images.${base}-${c.code}?w=800`)
			figcaption photo by 
				a(href=`https://${base}s/${c.link}` target='_blank') #{c.attr}
	- })
footer
	
aside
	.box.box--fail.box--view Sorry, it appears your browser does not support 
		a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/animation-range' target='_blank')
			code animation-range
		| , which is necessary for all scroll effects in this demo demo to work properly. As of June 2024, this is only supported by Chromium browsers 115+.
		em (dynamically displayed box based on CSS support test - 
			a(href='https://codepen.io/thebabydino/full/qBKvjKM' target='_blank') more info
			| )